/**
 * The contents of this file are subject to the license and copyright
 * detailed in the LICENSE and NOTICE files at the root of the source
 * tree and available online at
 *
 * http://www.dspace.org/license/
 */

/**
 * You can put your own style in this file.
 * It will be included in all color schemes
 */

//example mixin to set the text-selection style
@mixin selection {
    ::-moz-selection { @content; }
    ::selection { @content; }
}

@include selection {
    color: white;
    background: hotpink;
}

.publication-records-modal, .publication-records-modal ul {
  list-style-type: none;
  padding-left: 0px;
}

.publication-records-import-btn {
  margin: 5px 0px 15px 0px;
}

.bold {
  font-weight: bold;
}

.imported {
  background-color: #E2E2E2;
}

#aspect_submission_StepTransformer_div_StartSubmissionLookupStep {

  #aspect_submission_StepTransformer_field_search {
    width: 81%;
    display: inline;
  }

  #aspect_submission_StepTransformer_field_lookup {
    width:19%
  }

  .modal .modal-body {
    max-height: 500px;
    overflow-y: auto;
  }

  #aspect_submission_StepTransformer_item_publication-title{
    margin-bottom:5px;
  }
}


/***************************************************
 *************    UNER-DIGITAL  ********************
 ***************************************************/

#aspect_submission_StepTransformer_field_dc_type,
#aspect_submission_StepTransformer_field_dcterms_rights_embargoPeriod,
#aspect_submission_StepTransformer_field_dcterms_language,
#aspect_submission_StepTransformer_field_dcterms_license,
#aspect_submission_StepTransformer_field_dcterms_subject_area,
#aspect_submission_StepTransformer_field_dc_type_version,
#aspect_submission_StepTransformer_field_dcterms_accessRights {
	background-image : url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciPjx0ZXh0IHg9Ijk2JSIgeT0iNzAlIiBmb250LXNpemU9IjIwIj7ilrw8L3RleHQ+PC9zdmc+");
	background-color: #fcfbf2;
	cursor: pointer;
}

/* for lock button */
input.ds-authority-lock{
    vertical-align: bottom; 
    height: 24px; 
    width: 24px; 
    background-repeat: no-repeat; 
    background-color: transparent;
    .is-locked { background-image: url(../images/authority_control/lock24.png); }
	.is-unlocked { background-image: url(../images/authority_control/unlock24.png); }
}

.language-selector{
	margin-top: 5px;
	width: auto;
	background-color: #fcfbf2;
}

/**
 *  Estilos de Statistics
 *
 */

.contenedor-cuadrado{
	width:20%;
	heigth:20%;
	color:#9ec4cd;
	text-align:center;
}

.cuadrado {
     width: auto; 
     height: auto; 
     border: 6px solid #9ec4cd;
     margin:auto;
}

.encuadrado{
	font-size:35px;	
	
}
.curso p{
	font-size:12px;
}
.curso div{
	font-size:25px;
}
.tittle-statistics{
	padding-bottom: 10px;
	font-size:20px;
	color:#79aab2;
}
.linea-statistics{
	background-color:#79aab2 ;
	height: 2px;
}
.lista_statistics{
	list-style:none;
	padding: 5px;
	width: 50%;
}
.lista_statistics li div div{
	font-size:16px;
	color:black;
}
.lista_statistics li div .color{
	color:#79aab2;
}
.lista_statistics li div{
	display:inline;
}

.tamanio{
	height:300px;
}

/* chartist-js - "Pie" chart styles*/
.tamanio .ct-chart-pie{
	height:500px;
	overflow: visible;
}

.tamanio svg g foreignObject .ct-label{
	font-size:10px ;
}

.tamanio .ct-chart-pie g.ct-series:hover{
  stroke: #585858;
  stroke-width: 1px;
}

.tamanio .ct-chart-pie g.ct-series:active{
  stroke: #FF4000; 
  stroke-width: 1px;
}

@media screen and (max-width: 320px){  .tamanio .ct-chart-pie g text.ct-label {
      font-size: 13px; }
}
@media screen and (min-width: 321px) and (max-width: 767px){ .tamanio .ct-chart-pie g text.ct-label {
      font-size: 14px; }
}

@media screen and (min-width: 768px){ .tamanio .ct-chart-pie g text.ct-label {
      font-size: 16px; }
}

.trail-wrapper {
  background-color: #aab8c6;
  border-bottom: 1px solid #8b9eb2;
}

.breadcrumb, .breadcrumb:hover, .breadcrumb:focus, breadcrumb:active {
  color: #eeeeee;
}

.trail-wrapper .breadcrumb > .active {
  color: #eeeeee;
}

.trail-wrapper .breadcrumb > li + li:before {
  color: #eeeeee;
}
.list-group-item.active, .list-group-item.active:hover, .list-group-item.active:focus {
    background-color: #76c5f0;
    border-color: #76c5f0;
}

.btn-primary {
    background-color: #76c5f0;
    border-color: #35aae9;
}

.btn-primary:hover {
    background-color: #51b5ec;
    border-color: #35aae9;
}

#language-dropdown-toggle:hover, #language-dropdown-toggle:focus {
  background-color: #b86198;
}

header {
  background-image: url(../images/background-header.png);
  background-size: 100%;
}

.navbar-brand {
  float: none;
  line-height: inherit;
}

.navbar-header{
  padding-top: 15px;
}

.trail-wrapper {
  background-color: #974478;
  border-bottom: 1px solid #8b9eb2;
}
.breadcrumb {
  padding: 0;
  margin-top: 14px;
}

#img-logo-footer{
  margin-right: 10px;
}

@media (max-width: 767px){
	#info-footer {
		border-top: 0px;
	}
}

.header-img{
  display: inline;
  padding: 35px 0;
}
.navbar-header {
  padding-top: 0;
}
.icon-bar {
  background-color: #eee;
}

.trail-wrapper > .container > .row > div{
	height: 50px;
}

.metadata-label {
	background-color: #b35691;
	color: white;
	left: -20px;
	position: relative;
	padding: 5px 0px 5px 20px;
	margin-right: -20px;
	line-height: 2;
	font-weight: bold;
}

.item-page-field-wrapper > h5 {
    font-weight: bold;
}

.metadata-header > div{
	font-size: 20px;
}

.inline-div > div{
	display: inline;
}

.inline-label > div > h5{
	display: inline;
}

.item-page-field-wrapper {
  margin: 15px 0px 15px 0px;
}

.thumbnail.artifact-preview > a > img{
	height: 190px !important; 	
}

.register-wrapper{
	background-color: #eeeeee;
	padding-bottom: 20px;
}

.breadcrumb.hidden-xs > li > a{
	color: white;
}

#trail-dropdown-toggle{
	color: white;
}

#context-dropdown-toggle:hover, #context-dropdown-toggle:focus {
  text-decoration: none;
  background-color: #eeeeee;
}

#context-dropdown-toggle, #language-dropdown-toggle {
  color: rgb(238, 238, 238);
  text-decoration: none;
}

#context-dropdown-toggle:hover, #context-dropdown-toggle:focus {
  background-color: #b86198;
}

div#aspect\.discovery\.SiteRecentSubmissions\.div\.total-items{
	color: silver;
	font-size: 0.9em;
	#total-items{ font-weight: bold; }
}
