/**
 * The contents of this file are subject to the license and copyright
 * detailed in the LICENSE and NOTICE files at the root of the source
 * tree and available online at
 *
 * http://www.dspace.org/license/
 */

/**
 * You can put your own style in this file.
 * It will be included in all color schemes
 */

#aspect_submission_StepTransformer_field_dc_type,
#aspect_submission_StepTransformer_field_dcterms_rights_embargoPeriod,
#aspect_submission_StepTransformer_field_dcterms_language,
#aspect_submission_StepTransformer_field_dcterms_license,
#aspect_submission_StepTransformer_field_dcterms_subject_area {
	background-image : url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciPjx0ZXh0IHg9Ijk2JSIgeT0iNzAlIiBmb250LXNpemU9IjIwIj7ilrw8L3RleHQ+PC9zdmc+");
}

/* for lock button */
input.ds-authority-lock{
    vertical-align: bottom; 
    height: 24px; 
    width: 24px; 
    background-repeat: no-repeat; 
    background-color: transparent;
    .is-locked { background-image: url(../images/authority_control/lock24.png); }
	.is-unlocked { background-image: url(../images/authority_control/unlock24.png); }
}